body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F8F1E9;
    font-family: "DM Sans", sans-serif;
}

.grid figure img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(var(--row), 100px);
    margin-top: 50px;
    gap: 50px;
    min-height: 100vh;
    padding: 2rem;
}

.grid-1 figure:nth-child(1){
    grid-column: 2 / 6;
    grid-row: 1;
}

.grid-1 h2:nth-child(2){
    font-size: 7em;
    grid-column: 1 / 7;
    text-align: center;
    grid-row: 5;
    z-index: 1;
    color: #D4A373;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.grid-1{
    --row: 2;
}

@media screen and (max-width: 1023px){
    .grid-1 h2:nth-child(3){
        font-size: 3em;
    }
    .grid{
        display: block;
    }
}

.autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view();
}

@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
