/* variables */
:root {
    --bg-color: #F5ECE4;
    --primary-color: #734425;
    --secondary-color: #C26819;
    --black: #2E2E2E;
    --heading-font: "Outfit", sans-serif;
}

/* global properties */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--black);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.btn{
    color: #fff;
    padding: 8px 20px;
    font-weight: 500;
}

.radius{
    border-radius: 10px;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

.w-full{
    width: calc(100vw - 10rem) !important;
    max-width: 1440px;
    margin: auto;
}

/* for all headings */
.heading{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 6.5vw;
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: 0.95;
    margin-bottom: 1.4rem;
}

/* local properties */

/* header */

header{
    padding: 1rem 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}


#main{
    overflow: hidden;
}

#headphone{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2.2%;
    width: 40vw;
    max-width: 660px;
    filter: drop-shadow(8px 35px 6px #00000025);
    will-change: transform;
    z-index: 9;
}

/* section 1 */

#section1{
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#section1 h1{
    font-size: 11.5vw;
    line-height: 0.85;
    margin-bottom: 0;
}

/* section 2 */

#section2{
    min-height: 100vh;
    padding-top: 4vw;
}

#section2 .btn{
    background-color: var(--black);
    margin-top: 1.8rem;
}

#section2 .content-wrapper{
    max-width: 500px;
}

.feature-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
    margin-top: 8vw;
}

.feature-box{
    border: 2px solid var(--black);
    padding: 1.2vw 1.4vw;
}

.feature-name{
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}


#section3{
    min-height: 100vh;
    padding-top: 4vw;
    padding-bottom: 4vw;
}
#section3 .btn{
    background-color: var(--black);
    margin-top: 1.8rem;
}

.juice-section{
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-direction: row-reverse;
}
.juice-section .banner{
	flex: 1 1 50%;
}
.juice-section .juice-text{
	flex: 1 1 50%;
	max-width: 560px;
	transform: translateX(-170px);
	position: relative;
	z-index: 3;
}
.juice-text p{
	margin-bottom: 1.2rem;
}


#section3 .heading{
    font-size: clamp(2rem, 12.5vw, 13.5rem);
    text-align: center;
    text-wrap: balance;
    margin-bottom: 3vw;
}

#section3 .juice-text .heading{
	margin-left: -40px;
}




#section2{
    min-height: 100vh;
    position: relative;
}

#section2 img{
    position: absolute;
    width: 500px;
    height: auto;

    top: 32%;
    left: 58%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(8px 35px 6px #00000025);

}


#section4{
    min-height: 100vh;
    position: relative;
}




.cookies-content{
    margin-top: 110px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.cookies-content .heading{
	font-size: clamp(0.8rem, 3vw, 1.75rem);
}
.cookies-content p{
    margin-top: 0.5rem;
    font-size: 1rem;
}
.cookies-content .btn{
	background-color: var(--black);
	margin-top: 1rem;
}

/**/
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.banner{
    margin-top: -50px;
    height: 100vh;
    overflow: visible;
    position: relative;
}
.product{
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    bottom: 50px;
    z-index: 2;
    width: 500px;
    transition: 0.7s;
}
.product .soda{
    position: absolute;
    bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
}
.soda{
    --left: 0px;
    background:
            var(--url) var(--left),
            url(images/mockup.png) 0 0;
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    transition: 0.8s;
    mask-image: url(images/mockup.png);
    mask-size: auto 100%;
}
.soda:nth-child(2){
    opacity: 0;
}
.product:hover{
    bottom: 100px;
}
.product:hover .soda:nth-child(2){
    opacity: 1;
    --left: 500px;
}
.product:hover .soda:nth-child(1){
    opacity: 0;
    --left: 500px;
}

@media screen and (max-width: 1023px) {

    .soda{
        width: 400px;
    }
}
@media screen and (max-width: 767px) {

	.juice-section{
		flex-direction: column;
		gap: 2rem;
	}
	.juice-section .juice-text{
		max-width: 100%;
		margin-left: 0;
		transform: none;
	}
	#section3 .juice-text .heading{
		margin-left: 0;
	}
    .soda{
        width: 250px;
    }

}
.product-img-wrapper{
    position: relative;
    overflow-x: clip;
    height: 360px;
}
.product-img-wrapper img{
    position: absolute;
    width: 300px;
}
.product1{
    left: 32%;
    transform: translateX(-32%) rotate(350deg);
    top: 110px;
}
.product2{
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
}
.product3{
    left: 68%;
    transform: translateX(-68%) rotate(10deg);
    top: 110px;
}
